# This is an example settings_local.py file. Rename it to settings_local.py
# and edit it to match your config. At the very least you need to edit the
# database USER. You should also change the value of SECRET_KEY.

from plugincheck.settings.base import *
from plugincheck.settings_utils import parse_cache_url


# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

TEMPLATE_DEBUG = True

ALLOWED_HOSTS = []

# Database
# https://docs.djangoproject.com/en/1.7/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'plugincheck',
        'USER': '<db_user>',
        'PASSWORD': '',
        'HOST': 'localhost',
    }
}

# Note: This uses locmem for caching. If you want to use memcache, delete this
# and uncomment the memcache version.
CACHES = {
    'default': parse_cache_url('locmem://')
}

# If you're using memcache, you can uncomment this and use it.
# CACHES = {'default': parse_cache_url('memcached://localhost:11211/plugincheck')}
